<section class="about">
  <div class="about__container">
    <h1>How To Play</h1>
    <h2>Guess the Wordle in 6 tries.</h2>
    <ul>
      <li>Each guess must be a 3, 4 or 5-letter word, depending on your settings.</li>
      <li>Choose if you want the Wordle to have only unique letters, or duplicates (e.g. two "L" in "PILLS")</li>
    </ul>
    <h1>About</h1>
    <p>This is a fullstack school project using React, Tailwind, Express, Mongoose, and Express-handlebars, connected to
      a mongoDb database to save game-data and a highscore list.</p>
  </div>
</section>