<div class="about">
  <div class="about__container">
    <h1>How To Play</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quis error facilis pariatur fugiat, hic
      consequuntur recusandae totam fugit quos.</p>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae porro officiis unde, ipsum totam aliquid blanditiis
      laboriosam eaque commodi enim illum asperiores deleniti mollitia eos beatae quidem, cupiditate ipsam architecto
      delectus possimus voluptas. Voluptates non accusantium distinctio necessitatibus quia laborum ratione aliquam
      omnis incidunt. Qui aliquam fugiat necessitatibus iure laborum.</p>
  </div>
</div>